@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	--color-grey: #97a6a6;
	--color-beige-light: #f2d0a7;
	--color-beige-dark: #d99962;
	--color-pink: #f28a80;
	--color-black: #0d0d0d;
	--color-withe: #f2f2f2;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, #app {
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: var(--color-withe);
}

