@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {*/
/*	:root {*/
/*		--tw-ring-color: purple;*/
/*	}*/
/*}*/
:root {
	--font-primary: 'Roboto', Inter, sans-serif;
	--font-secondary: 'Lemon', cursive;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light; /* light or dark */
	--color-grey: #97a6a6;
	--color-beige-light: #f2d0a7;
	--color-beige-dark: #d99962;
	--color-pink: #f28a80;
	--color-black: #0d0d0d;
	--color-withe: #f2f2f2;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
#app {
	font-family: var(--font-primary), sans-serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: var(--color-withe);
	color: var(--color-black);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-secondary), sans-serif;
	}

	/***** FormKit *****/
	.formkit-wrapper,
	.formkit-fieldset {
		max-width: 48em; /* ou toute autre valeur souhaitée */
	}

	.formkit-label {
		display: block;
		margin: 0 0 0.5em;
		padding: 0 0 0 0.2rem;
	}

	.formkit-outer[data-disabled] {
		opacity: 0.8;
		pointer-events: none;
	}

	/***** Buttons *****/
	#edit-mode {
		background-color: rgba(242, 138, 128);
		color: #fff;
		&:hover {
			background-color: var(--color-withe);
			color: #f28a80;
			outline: 1px solid #f28a80;
		}
	}

	#save-changes {
		background-color: #d99962;
		color: #fff;
		&:hover {
			background-color: var(--color-withe);
			color: #d99962;
			outline: 1px solid #d99962;
		}
	}

}

